---

---

<section class="contact-section" id="Contact-section">
    <p class="contact-title">Try LocalLift Today</p>

    <p class="contact-info">
        Contact Us:<br />
        Email: placeholder@gmail.com<br />
        Phone: (206) xxx-xxxx<br />
        Address: Auburn<br />
    </p>

    <button>Free Consultation</button>
</section>


<style>

  p, ul {
	font-size: 18px;
  }

  .contact-section {
    background-color: #1e1e1e;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .contact-title {
    font-size: 72px;
    width: 500px;
    text-align: center;
    font-weight: 700;
  }

  .contact-info {
    font-size: 24px;
    text-align: center;
  }


<style/>