---

---

<section id="Contact-section">
  <h2>Try LocalLift Today</h2>
  <p class="contact-info">
    Contact Us:<br />
    Email: placeholder@gmail.com<br />
    Phone: (206) xxx-xxxx<br />
    Address: Auburn<br />
  </p>

  <button>Free Consultation</button>
</section>

<style>
  section {
    background-color: #1e1e1e;
    padding: min(80px, 10vw);
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & h2 {
      font-size: var(--step-4);
      text-align: center;
    }
    & p {
      text-align: center;
    }
  }
</style>
